<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>
  <!--aqui va la conexion a ala base de datos-->
    <connectionStrings>
        <add name="conexion_asp_con_clave" connectionString="Data Source=WILTON-PC\SQLEXPRESS; database=cdmcsoft; User ID=sa; Password=Adsi1234"
            providerName="System.Data.SqlClient" />
        <add name="conexion_asp_sin_clave" connectionString="Data Source=WILTON-PC\SQLEXPRESS; database=CDMCSOFT; Integrated Security= true"
            providerName="System.Data.SqlClient" />
        <add name="CDMCSOFTConnectionString" connectionString="Data Source=WILTON-PC\SQLEXPRESS;Initial Catalog=CDMCSOFT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CDMCSOFTConnectionString2" connectionString="Data Source=WILTON-PC\SQLEXPRESS;Initial Catalog=CDMCSOFT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CDMCSOFTConnectionString3" connectionString="Data Source=WILTON-PC\SQLEXPRESS;Initial Catalog=CDMCSOFT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>
