<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--Aqui defino la conexion a la base de datos-->
  <connectionStrings>
    <add name="conexion_asp_sin_clave" connectionString="Data Source=ADSI\SQLEXPRESS; database=BDCDML;"
      providerName="System.Data.SqlClient" />
    <add name="conexion_asp_con_clave" connectionString="Data Source=ADSI\SQLEXPRESS; database=BDCDML; User ID=sa; Password=Adsi1234"
      providerName="System.Data.SqlClient" />
    <add name="BDCDMLConnectionString" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=BDCDML;User ID=sa;Password=Adsi1234"
      providerName="System.Data.SqlClient" />
    <add name="cdmcsoftConnectionString" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=cdmcsoft;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="cdmcsoftConnectionString2" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=cdmcsoft;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="cdmcsoftConnectionString3" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=cdmcsoft;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="cdmcsoftConnectionString4" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=cdmcsoft;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>