<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <connectionStrings>
      <add name="conexion_asp_con_clave" connectionString="Data Source=ADSI\SQLEXPRESS; database=cdmcsoft; User ID=sa; password=Adsi1234;" providerName="System.Data.SqlClient" />
        <add name="conexion_asp_sin_clave" connectionString="Data Source=ADSI\SQLEXPRESS; database=cdmcsoft; Integrated Security=true"
            providerName="System.Data.SqlClient" />
        <add name="CDMCSoftConnectionString" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=cdmcsoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CDMCSoftConnectionString2" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=cdmcsoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cdmcsoftConnectionString3" connectionString="Data Source=ADSI\SQLEXPRESS;Initial Catalog=cdmcsoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />

      
      
      
    </connectionStrings>
</configuration>
